#cloud-config
ssh_authorized_keys:
 {% for key in public_ssh_keys %}
  - {{ key }}
 {% endfor %}

hostname: {{ libvirt_name }}
coreos:
  units:
    - name: etcd2.service
      command: start
      # drop-ins:
      #   - name: 01-wipe-cache.conf
      #     content: |
      #       [Service]
      #       ExecStartPre=/bin/rm -Rf /var/lib/etcd2/*
    - name: fleet.service
      command: start
    - name:  systemd-networkd.service
      command: restart
    - name: flanneld.service
      drop-ins:
        - name: 50-network-config.conf
          content: |
            [Service]
            ExecStartPre=/usr/bin/etcdctl set /coreos.com/network/config '{ "Network": "10.1.0.0/16" }'
      command: start
    - name: 00-eth0.network
      runtime: true
      content: |
        [Match]
        Name=eth0

        [Network]
        DNS=8.8.8.8
        Address={{ libvirt_ip }}/24
        Gateway={{ libvirt_gateway }}

  etcd2:
    advertise-client-urls: http://{{ libvirt_ip }}:2379
    initial-advertise-peer-urls: http://{{ libvirt_ip }}:2380
    listen-client-urls: http://0.0.0.0:2379,http://0.0.0.0:4001
    listen-peer-urls: http://0.0.0.0:2380
    discovery: {{ coreos_discovery }}
  fleet:
    public-ip: {{ libvirt_ip }}
    metadata: boxrole={{ box_role }}