[Unit]
Description=HomerAnnouncer
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/etcdctl set captureserver $(ifconfig | grep -A1 eth0 | grep -v eth0 | awk '{print $2}')

[X-Fleet]
Conflicts=homerannouncer@*.service
MachineOf=captureservice@%i.service
MachineMetadata=boxrole=homer
